{% extends 'twitter/layout.html' %}

{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1 class="titleTweet">Inicia sesión en TW_MAD</h1>
        </header>

        <form method="post">

            {% csrf_token %}
            
            <div class="input-wrapper">
                <label for="user-name-id" class="input-group-text">Usuario</label>
                {{ form.username}}
            </div>

            <div class="input-wrapper">
                <label for="password-id" class="input-group-text">Contraseña</label>
                {{ form.password}}
            </div>
            
            {% comment %} mensaje de error de usuario o contraseña {% endcomment %}
            {% if form.errors %}
                <p>Usuario o contraseña incorrectas</p>
            {% endif %}

            <button class="twitter-btn">Inicio de sesión</button>
        </form>

        <div class="footer">
            {% comment %} <a href="#">Recuperar contraseña</a>  {% endcomment %}
            <a href="{% url 'register' %}">¿Aún no tienes una cuenta? ¡Registrase ahora!</a>
        </div>

    </div>
    {% endblock content %}
