{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}

<div id="main" class="container-fluid d-flex">

    <!-- Barra Izquierda -->
    <div class="sidebar m-3 d-none d-md-block">
        <div class="">
            <div class="card data-perfil" >
                
                {% if request.user.is_authenticated %}
                    <img class="card-img-top rounded-circle" style="width:60%; position: relative;left: 62px;padding-top: 20px;" src="{{ user.profile.image.url }}" alt="Card image cap"/>
                {% else %}
                    <img class="card-img-top rounded-circle" style="width:60%; position: relative;left: 62px;padding-top: 20px;" src="../../../media/default.jpg" alt="Card image cap"/>
                {% endif %}



                <div class="card-body">
                    {% if request.user.is_authenticated %}
                        <h5 class="card-title font-weight-bold ">
                            {% comment %} ------> Nombre del usuario <------ {% endcomment %}
                            {{request.user.first_name}} 
                        </h5>
                        <h6 class="card-title font-weight-bold name-username">
                            {% comment %} ------> @ del usuario <------ {% endcomment %}
                            {% comment %} @{{request.user}} {% endcomment %}
                        </h6>

                        <h6 class="card-title font-weight-bold follow">
                            <code> {{ request.user.profile.followers.count }} </code> Seguidores 
                        </br>
                            <code> {{ request.user.profile.following.count }}</code> Siguiendo   
                        </h6>
                    {% endif %}

                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' user.username %}" class="btn  text-white rounded-pill">Mi perfil</a>

                    {% else %}
                        <a href="{% url 'register' %}" class="btn  text-white rounded-pill">¡Registrate ahora!</a>
                {% endif %}
                </div>

            </div>
        </div>
    </div>
    <!-- End Barra Izquierda -->

    
    <!-- Center -->
    <div class="content">
        {% if request.user.is_authenticated %}

            <div id="inputTweetArea" class="tweet-wrap m-4">
                <h4 class="title-published-twet">Publica un algo nuevo !!</h4>
                <div class="d-flex">
                    <div class="col-xs">

                        
                        <!-- Image form -->
                        <img src="{{request.user.profile.image.url}}" alt="imgProfileTweet"class="avator">
                        <!-- Formulario -->
                    </div>

                    <!-- Formulario -->
                    <form class="col pr-5" method="post">

                        {% csrf_token %}

                        {% comment %}  Aqui es en donde incluiremos el formulario de contenido de tweet def home en views.py {% endcomment %}
                        {{ form.content }}
                        {% comment %} <textarea class="form-control w-100" id="contentsBox" placeholder="¿Qué está pasando?"></textarea> {% endcomment %}


                        <div class="container d-flex" style="padding: 1rem 0 0 0;">
                            <div id="leftBtn">
                                <div id="charBadge" class="badge badge-pill badge-primary ml-2">
                                    <div id="charCountArea" >250</div>
                                </div>
                            </div>

                            <div id="rightBtn">
                                <button class="btn rounded-pill">Publicar</button>
                            </div>
                        </div>
                    </form>
                    <!-- Formulario -->

                </div>
                <div class="d-flex justify-content-center mt-2">
                </div>
            </div>
        {% endif %}

        <!-- Tweets -->
        <h2 class="titleTweet">Ultimas publicaciones</h2>

        {% for post in posts %}

        <div id="tweetCards">
            <!-- FOR LOOP HERE -->
            <div class="tweet-wrap" style="border-radius:20px">
                <div class="tweet-header"> 
                    <img src="{{ post.user.profile.image.url}}"
                        alt="" class="avator">
                    <div class="tweet-header-info">

                        <a href="{% url 'profile' post.user %}">
                            {{post.user.first_name}} 
                        </a>

                        <span>
                            @{{post.user}}
                        </span>
                        <span> 
                            {{post.timestamp | naturaltime}}
                        </span>
                        <p class="">{{post.content}}</p>
                    </div>
                </div>
                <div class="tweet-info-counts">

                    <div class="comments">
                        {% comment %} <a  href="{% url 'poster' post.id %}" style="background: white; border: none;"> {% endcomment %}
                        <a  style="background: white; border: none;">
                            <svg class="feather feather-message-circle sc-dnqmqq jxshSx"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" aria-hidden="true">
                                <path
                                    d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                </path>
                            </svg>
                        </a>
                        <div class="comment-count"></div>
                    </div>


                    <!-- DELETE -->
                    {% comment %} logica para validar que el tweet sea borrado unicamente por el creador del post {% endcomment %}
                    {% if request.user == post.user %}

                    <div class="trash">
                        <a href="{% url 'delete' post.id %}" style="background: white; border: none;">
                            <i class="fa fa-trash-o" style="color:#657786; font-size: 20px" aria-hidden="true"></i>
                        </a>
                    </div>

                    {% endif %}
                    <!-- END-DELETE -->
                </div>
            </div>
            <!-- FOR LOOP HERE -->

        </div>
        {% endfor %}
        <!-- EndTweets -->


    </div>
    <!-- End Center -->


    <!-- Barra Derecha -->
    <div class="sidebar m-3 d-none d-xl-block">
        <div class="card data-perfil-follow" >
            <div class="card-header ">
                Recomendado
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#">@Colombia</a></li>
                <li class="list-group-item"><a href="#">@django</a></li>
                <li class="list-group-item"><a href="#">@api</a></li>
            </ul>
            <div class="footer">
                <p>footer</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}